<div class="text-center">

<footer class="mastfoot mt-auto">
        <div class="inner">
        <a href="{{ path('documentation') }}">Documentation</a>
        <p>Template : <a href="https://bootswatch.com/cyborg/">bootswatch : Cyborg</a></p>
        </div>
      </footer>

</div>