{% extends 'base.html.twig' %}

{% block title %}Biblio ~ Homepage{% endblock %}

{% block body %}

<div class="container">

<table class="table table-hover mt-3">
  <thead>
    <tr>
    
      <th scope="col">Titre</th>
      <th scope="col">Auteur</th>
      <th scope="col">Resume</th>
      <th scope="col">Lu/ pas lu</th>
    </tr>
  </thead> 
{% for book in books %}
    <tr class="table-{% if loop.index is even %}light{% else %}dark{% endif %}">
   
      <td>{{book.name}}</td>
      <td>{{book.author}}</td>
      <td>{{book.resume}}</td>
      <td>{{book.isRead}}</td>
    </tr>
{% endfor %}
  </tbody>
</table> 

</div>

{% endblock %}

